<% content_tag(:div, class: 'container about-info') do %>
  <%= content_tag(:h3, 'ruby + js developer') %>
  <%= content_tag(:p, "greetings, i'm zimba russeau. i work with startups and businesses to build high performant websites and applications for real people. i specialise in ruby on rails and javascript.") %>

  <%= content_tag(:h3, 'investigative developer') %>
  <%= content_tag(:p, "armed with an <a href='http://intermedia.org.pk/pdf/EHHR_Media_Awards_Winners_and_vote_of_the_public.pdf' target='_blank'>Every Human Has Rights Media Award</a> and over seventeen years experience as a freelance <a href='http://www.ipsnews.net/author/simba-russeau/' target='_blank'>investigative multimedia journalist</a>, i love collaborating with diverse teams to investigate challenges and develop solutions.") %>

  <%= content_tag(:h3, 'tech arsenal') %>
  <%= content_tag(:p, "it wasn't until i pissed off one too many governments as a journalist and surviving their countless hackings that i realised my passion for arch linux, secure infrastructures and web performance.") %>
  <%= content_tag(:p, "in terms of CI, i've chosen the <a href='https://blog.codeship.com/hashicorp-tools-useful-in-ci/' target='_blank'>Hashicorp stack.</a> <a href='http://middlemanapp.com/' target='_blank'>middleman</a> is my go to for static sites. really digging the <a href='https://jamstack.org/' target='_blank'>JAMstack</a> movement.") %>

  <%= content_tag(:h3, 'what is dsgndhat?') %>
  <%= content_tag(:p, "dhat, for the sufi, means the essence. i'm an artist of life, a seeker and a spiritual ruckus maker whose character is defined by the essence of my journey. i'm self-taught. i've gone from living on the streets to travelling many countries. the skool of life has taught me that in order to capture the essence of each moment, one must explore all the visible and hidden elements. it has also taught me patience and hard work.") %>
  <%= content_tag(:p, 'i believe that, as a sys admin or developer, patience means secure systems and quality web apps.') %>

  <%= content_tag(:h3, 'fancy more?') %>
  <% content_tag(:p) do %>
    explore my <%= link_to 'projects.', '/' %>
  <% end %>
<% end %>
