<meta charset='utf-8'>
<meta http-equiv='x-ua-compatible' content='ie=edge,chrome=1'>
<meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>

<title><%= meta_tags_page_title %></title>
<meta name="description" content='<%= meta_tags_description %>'>

<!-- microdata -->
<meta itemprop='name' content='<%= meta_tags_name %>'>
<meta itemprop='description' content='<%= meta_tags_description %>'>
<meta itemprop='keywords' content='<%= meta_tags_keywords %>'>
<meta itemprop='image' content=''>

<!-- open graph tags -->
<meta property='og:site_name' content='<%= meta_tags_name %>'>
<meta property='og:type' content='website'>
<meta property='og:title' content='<%= meta_tags_title %>'>
<meta property='og:description' content='<%= meta_tags_description %>'>
<meta property='og:url' content='<%= current_page_url %>'>
<meta property='og:image' content='<%= data.site.image %>'>

<!-- twitter card tags -->
<meta name='twitter:card' content='summary'>
<meta name='twitter:description' content='<%= meta_tags_description %>'>
<meta name='twitter:title' content='<%= meta_tags_title %>'>
<meta name='twitter:site' content='<%= data.site.twitter %>'>
<meta name='twitter:image' content='<%= data.site.image %>'>

<!-- google plus -->
<meta itemprop='name' content='<%= meta_tags_title %>'>
<meta itemprop='description' content='<%= meta_tags_description %>'>
<meta itemprop='image' content='<%= data.site.image %>'>

<!-- search engine index -->
<meta name='robots' content='index,follow'>
